<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>

<nav th:fragment="navbar" class="navbar bg-body-tertiary">
	 <form class="container-fluid justify-content-start">
	   <a class="navbar-brand">BEST OF</a>
	   <a href="http://localhost:8080/movies"><button class="btn btn-outline-success me-2" type="button">Movies</button></a>
	   <a href="http://localhost:8080/songs"><button class="btn btn-outline-success me-2" type="button">Songs</button></a>
	 </form>
</nav>
	
</body>
</html>