<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Greeting</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar bg-body-tertiary">
	 <form class="container-fluid justify-content-start">
	   <button class="btn btn-outline-success me-2" type="button">Main button</button>
	   <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
	 </form>
</nav>
	
</body>
</html>