<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
	
<nav th:replace="fragments :: navbar('')"></nav>

<div th:object="${movie}" class="list-group mx-4 my-4">
	<p>Title: <span th:text="*{title}"></span></p>
	<p>Director: <span th:text="*{director}"></span></p>
	<p>Year: <span th:text="*{year}"></span></p>
</div>

</body>
</html>